<center><h1><b>Little Lemon analysis and sales report</b></h1></center>

<p>Little Lemon es un acogedor restaurante familiar que te envuelve en un ambiente cálido y amigable desde el momento en que cruzas la puerta. Con su encanto hogareño y detalles pintorescos, este rincón culinario es conocido por sus platos caseros y deliciosos postres que deleitan a grandes y pequeños por igual. El menú, cuidadosamente elaborado con ingredientes frescos y locales, ofrece una experiencia gastronómica única. Ya sea para una comida íntima en familia o una celebración especial, Little Lemon es el lugar perfecto para disfrutar de momentos memorables con seres queridos.</p>

<h3>Import mysql.connector and Create our first connection to the database in localhost</h3>

In [ ]:
# Import MySql Connector/Python
import mysql.connector as connector

connection = connector.connect(user="root", password="")

<h3>Instance our cursor</h3>

In [54]:
cursor = connection.cursor()

<h3>Delete and Create a new database with the name <b>little_lemon_db</b></h3>

In [55]:
cursor.execute("DROP DATABASE IF EXISTS little_lemon_db;")
cursor.execute("CREATE DATABASE IF NOT EXISTS little_lemon_db")

<h3>Use our cursor to indicate that we going to use our database that we created</h3>

In [56]:
cursor.execute("USE little_lemon_db")

<h3>Create our tables</h3>

In [57]:
#MenuItems table
create_menuitem_table = """CREATE TABLE IF NOT EXISTS MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [58]:
create_menu_table = """CREATE TABLE IF NOT EXISTS Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [59]:
create_booking_table = """CREATE TABLE IF NOT EXISTS Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [60]:
create_orders_table = """CREATE TABLE IF NOT EXISTS Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [61]:
create_employees_table = """CREATE TABLE IF NOT EXISTS Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

<h3>Use our cursor.execute command to create all our tables that we going to need to our project</h3>

In [62]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

<h3>Declare our variables with the data we going to insert to our tables</h3>

In [63]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01, 'Mario Gollini', 'Manager', '724, Parsley Lane, Old Town, Chicago, IL', 351258074, 'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

<h3>Use cursor.execute command to insert data to our tables,
then we use connection.commit() to be sure that all our data was inserted correctly.</h3>

In [64]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

print("\n\nClosing connections....")
connection.close()

Closing connections....

<h2>Task 1</h2>

<p>Complete the following steps to establish a connection pool:</p>

<ul>
    <li>To create a connection pool, import <b>MySQLConnectionPool</b> class from MySQL Connector/Python.</li>
    <li>To find the information on the error, import the <b>Error</b> class from MySQL Connector/Python.</li>
    <li>Define your database configurations as a Python dictionary object called <b>dbconfig.</b></li>
    <li>Establish a connection pool <b>[pool_name = pool_b]</b> with two connections. </li>
    <li>Implement error handling using a <b>try-except</b> block in case the connection fails.</li>
</ul>

In [ ]:
from mysql.connector import pooling
from mysql.connector import Error

# Declare our dbconfig data
dbconfig = {"host" : "localhost", "database" : "little_lemon_db", "user" : "root","password" : ""}

try:
    connection_pool = pooling.MySQLConnectionPool(pool_name="pool_b",
                                                  pool_size=2,**dbconfig)

    print("Printing connection pool properties ")
    print("Connection Pool Name - ", connection_pool.pool_name)
    print("Connection Pool Size - ", connection_pool.pool_size)

    # Get connection object from pool
    connection_object = connection_pool.get_connection()
    
    if connection_object.is_connected():
        db_Info = connection_object.get_server_info()
        print("Connected to MySQL database using connection pool ... MySQL Server version on ", db_Info)

        cursor_pool = connection_object.cursor()
        cursor_pool.execute("SELECT database();")
        record = cursor_pool.fetchone()
        print("Your connected to - ", record)
except Error as e:
    print("Error while connectin to MySQL using Connection pool ", e)
finally:
    cursor_pool.close()
    connection_object.close()
    print("\n\nClosing connections....")
    print("connection is close")
    print("Cursor is close")

<h2>Task 2</h2>

<p>Three guests are trying to book dinner slots simultaneously. Get the connections from <b>pool_b</b> and insert the following data in the Bookings table:</p>


<p><b>TIP:</b> You need to add a connection to connect the third guest.</p>

<h3>First I create a list of dictionaries with the infomation of each person that want make a reservation in the restaurant</3>

<h5>Guest 1:</h5>
    <ul>
        <li><b>Table Number:</b> 8</li>
        <li><b>First Name:</b> Anees</li>
        <li><b>Last Name:</b> Java</li>
        <li><b>Booking Time:</b> 18:00</li>
        <li><b>EmployeeID:</b> 6</li>
    </ul>

<h5>Guest 2:</h5>
    <ul>
        <li><b>Table Number:</b> 5</li>
        <li><b>First Name:</b> Bald</li>
        <li><b>Last Name:</b> Vin</li>
        <li><b>Booking Time:</b> 19:00</li>
        <li><b>EmployeeID:</b> 6</li>
    </ul>

<h5>Guest 3:</h5>
    <ul>
        <li><b>Table Number:</b> 12</li>
        <li><b>First Name:</b> Jay</li>
        <li><b>Last Name:</b> Kon</li>
        <li><b>Booking Time:</b> 19:30</li>
        <li><b>EmployeeID:</b> 6</li>
    </ul>

In [66]:
guests = [
    {
        "TableNo" : 8,
        "GuestFirstName" : "Anees",
        "GuestLastName" : "Java",
        "BookingSlot" : "18:00:00",
        "EmployeeID" : 6
    },
    {
        "TableNo" : 5,
        "GuestFirstName" : "Bald",
        "GuestLastName" : "Vin",
        "BookingSlot" : "19:00:00",
        "EmployeeID" : 6
    },
    {
        "TableNo" : 12,
        "GuestFirstName" : "Jay",
        "GuestLastName" : "Kon",
        "BookingSlot" : "19:30:00",
        "EmployeeID" : 6
    }
]

<h3>I create a variable of string type, with the insert statement to insert data into our Booking table </h3>

In [67]:
booking_stmt = "INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES (%(TableNo)s, %(GuestFirstName)s,%(GuestLastName)s,%(BookingSlot)s,%(EmployeeID)s)"

<h3>What happens if our pool are exhausted (busy, no more connections availables)?</h3>

<p>I create the fuction below to handle all the petitions to our pool when our main pool are exhausted</p>

<ol>
    <li>Instance a new <b>temp_pool</b> to handle all extra petitions and the <b>pool_size</b> will be exactly the connections we going to need for all our requestings in queue</li>
    <li>Insert new reservations to our <b>Bookings Table</b></li>
    <li>Close all connections that we create while we are inserting values to our tables</li>
</ol>

In [68]:
def erro_pool_exhausted(end):
    try:
        print("Re-Trying.....")
        cxn_pool = pooling.MySQLConnectionPool(pool_name="temp_pool", pool_reset_session=True,
                                                  pool_size=(len(guests) - end),**dbconfig)
        print("Printing connection pool properties ")
        print("Connection Pool Name - ", cxn_pool.pool_name)
        print("Connection Pool Size - ", cxn_pool.pool_size)
        print("\n\nAdding... new reservations...")
        for i in range(len(guests) - end):
            cxn = cxn_pool.get_connection()
            if cxn.is_connected:
                cursor = cxn.cursor()
                print("The guest {} {} is requesting info"
                    .format((guests[i + end]["GuestFirstName"] + guests[i + end]["GuestLastName"]), cxn.connection_id))
                cursor.execute(booking_stmt, {
                    'TableNo' : guests[i + end]['TableNo'],
                    'GuestFirstName' : guests[i + end]['GuestFirstName'],
                    'GuestLastName' : guests[i + end]['GuestLastName'],
                    'BookingSlot' : guests[i + end]['BookingSlot'],
                    'EmployeeID' : guests[i + end]['EmployeeID']
                })
                cxn.commit()
            else:
                print("No live connection made")
            cxn.close()
    except Error as e:
        print("Something went wrong! ", e)
        print("\n\nClosing connections....", i)
        cxn.close()

<p>This is our main connection_pool </p>
<p>If our pool is exahusted our <b>try-except</b> will catch it and call our aux function to let our client make their reservation without problems</p>

<p>Return all the connections back to the pool.</p>


<p><b>TIP:</b> The pool size is two. However, you have three connected users. You can only return two connections. Returning a third connection will raise a <b>PoolError.</b> Use <b>try-except</b> to print the error message.</p>

In [69]:
try:
    for i in range(len(guests)):
        conn = connection_pool.get_connection()
        if conn.is_connected:
            cursor = conn.cursor()
            print("The guest {} {} is requesting info"
                 .format((guests[i]["GuestFirstName"] + guests[i]["GuestLastName"]), conn.connection_id))
            cursor.execute(booking_stmt, {
                'TableNo' : guests[i]['TableNo'],
                'GuestFirstName' : guests[i]['GuestFirstName'],
                'GuestLastName' : guests[i]['GuestLastName'],
                'BookingSlot' : guests[i]['BookingSlot'],
                'EmployeeID' : guests[i]['EmployeeID']
            })
            conn.commit()
        else:
            print("No live connection made")
        #conn.close()
except Error as e:
    print("Something went wrong! ", e)
    print("\n\nClosing connections....")
    conn.close()
    erro_pool_exhausted(i)

The guest AneesJava 10 is requesting info
The guest BaldVin 9 is requesting info
Something went wrong!  Failed getting connection; pool exhausted


Closing connections....
Re-Trying.....
Printing connection pool properties
Connection Pool Name -  temp_pool
Connection Pool Size -  1


Adding... new reservations...
The guest JayKon 11 is requesting info

<h2>Task 3</h2>
<p>Create a report containing the following information:</p>
<ul>
    <li>The name and <b>EmployeeID</b> of the Little Lemon manager.</li>
    <li>The name and role of the employee who receives the highest salary.</li>
    <li>The number of guests booked between 18:00 and 20:00.</li>
    <li>The full name and <b>BookingID</b> of all guests waiting to be seated with the receptionist in sorted order with respect to their <b>BookingSlot.</b></li>
</ul>

<p>First, I drop if exist the views report_daily</p>
<p>We need to take care about our pool connections and return all connections we create to our pool back.</p>

In [70]:
try:
    conn = connection_pool.get_connection()
    print("Detected a new connection with ID {}"
                 .format(conn.connection_id))

    if conn.is_connected:
        cursor = conn.cursor()
        cursor.execute('DROP VIEW IF EXISTS report_daily;')
except Error as e:
    print('Something went wrong! ', e)
finally:
    cursor.close()
    conn.close()
    print("\n\nClosing connections....")
    print("connection is close")
    print("Cursor is close")

Detected a new connection with ID 9


Closing connections....
connection is close
Cursor is close

<p>Create our SQL statement to create our view table with all the information we need to make our report.</p>

In [71]:
crea_view_report = """
CREATE VIEW report_daily AS
    WITH
        Little_Lemon_Manager AS (SELECT Name AS 'Manager_Name', EmployeeID AS 'Manager_ID' FROM employees WHERE Role = 'Manager'),
        Employee_MAX_Salary AS (SELECT Name AS 'Employee_Max_Salary', Role AS 'Role_Max_Salary' FROM employees WHERE Annual_Salary = (SELECT MAX(Annual_Salary) FROM employees) LIMIT 1),
        Guest_booked AS (SELECT COUNT(BookingID) AS 'Booking_Count_18_to_20' FROM Bookings WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00'),
        Guest_waiting AS (SELECT CONCAT(GuestFirstName, ' ', GuestLastName, ' ', BookingID) AS 'Guest_waiting_Name_ID' , BookingSlot AS 'Guest_Waiting_BookingSlot' FROM Bookings WHERE EmployeeID = 6)
    SELECT Manager_Name, Manager_ID, NULL AS Employee_Max_Salary, NULL AS Role_Max_Salary, NULL AS Booking_Count_18_to_20, NULL AS Guest_waiting_Name_ID, NULL AS Guest_Waiting_BookingSlot FROM Little_Lemon_Manager
    UNION
    SELECT NULL,NULL,Employee_Max_Salary,Role_Max_Salary,NULL,NULL,NULL FROM Employee_MAX_Salary
    UNION
    SELECT NULL,NULL,NULL,NULL,Booking_Count_18_to_20,NULL,NULL FROM Guest_booked
    UNION
    SELECT NULL,NULL,NULL,NULL,NULL,Guest_waiting_Name_ID, Guest_Waiting_BookingSlot FROM Guest_waiting ORDER BY Guest_Waiting_BookingSlot ASC
"""

<p>This function is just to print our report we all our data </p>

In [72]:
def print_view_report(results):
    
    for x in results:
        if (x[0] is not None):
            print("Manager in Little Lemon is {} with EmployeeID: {}\n".format(x[0], x[1]))
        elif (x[2] is not None):
            print("Employee who receive the highest salary is {} with role: {}\n".format(x[2], x[3]))
        elif (x[4] is not None):
            print("Number of guest booked between 18:00 and 20:00: {}\n".format(x[4]))
        else:
            print("The guest {} was waiting to be seated with Booking slot {}".format(x[5], x[6]))

<p>Then, we just need to run the following code to generate our report daily...</p>
<p>How you can see, First we get a connection from our pool, then, we execute the command create view, and finally, we print our report we our function that we wrote before</p> 
<p>Finally, I close our our connections with our pool, and drop our table view.</p>

In [73]:
try:
    conn = connection_pool.get_connection()
    print("Detected a new connection with ID {}"
                 .format(conn.connection_id))
    if conn.is_connected:
        cursor = conn.cursor()
        cursor.execute(crea_view_report)
        cursor.execute('SELECT * FROM report_daily')
        results = cursor.fetchall()
        
        print_view_report(results)

except Error as e:
    print('Something went wrong! ', e)
finally:
    cursor.execute('DROP VIEW IF EXISTS report_daily;')
    cursor.close()
    conn.close()
    print("\n\nClosing connections....")
    print("connection is close")
    print("Cursor is close")

Detected a new connection with ID 9
Manager in Little Lemon is Mario Gollini with EmployeeID: 1

Employee who receive the highest salary is Mario Gollini with role: Manager

Number of guest booked between 18:00 and 20:00: 7

The guest Anees Java 7 was waiting to be seated with Booking slot 18:00:00
The guest Bald Vin 8 was waiting to be seated with Booking slot 19:00:00
The guest Jay Kon 9 was waiting to be seated with Booking slot 19:30:00


Closing connections....
connection is close
Cursor is close

<h2>Task 4</h2>
<p>Create a stored procedure named <b>BasicSalesReport</b> that returns the following statistics:</p>
    <ul>
        <li>Total sales</li>
        <li>Average sale</li>
        <li>Minimum bill paid</li>
        <li>Maximum bill paid</li>
    </ul>

<p>I wrote first our <b>SQL Statement</b</p>

In [74]:
create_BasicSaleReport = """
CREATE VIEW BasicSaleReport AS
SELECT 
SUM(BillAmount) AS 'Total Sales', AVG(BillAmount) AS 'Average Sale', MIN(BillAmount) AS 'Minimum bill paid', MAX(BillAmount) AS 'Maximium bill paid'
FROM
Orders
"""

<p>This functions is just to print our report</p>

In [75]:
def print_basicSaleReport(results):
    
    for x in results:
        print("We get the following results...\n")
        print("Total Sale: {}\n".format(round(x[0], 2)))
        print("Average Sale: {}\n".format(round(x[1], 2)))
        print("Minimum bill paid: {}\n".format(round(x[2], 2)))
        print("Maximum bill paid: {}\n".format(round(x[3], 2)))

<ol>
    <li>First, I get a new connection from our pool</li>
    <li>Then, execute the command drop to be sure that <b>BasiSaleReport</b> not exist</li>
    <li>Then, Create a view we the data we need with teh command execute</li>
    <li>Then, Select all data in our view table</li>
    <li>Then, print the report we our aux function <b>print_basicSaleReport()</b></li>
    <li>finally, close all connections to put back to our pool</li>
</ol>

In [76]:
try:
    conn = connection_pool.get_connection()
    print("Detected a new connection with ID {}"
                 .format(conn.connection_id))
    if conn.is_connected:
        cursor = conn.cursor()
        cursor.execute('DROP VIEW IF EXISTS BasicSaleReport;')
        cursor.execute(create_BasicSaleReport)
        cursor.execute('SELECT * FROM BasicSaleReport')
        results = cursor.fetchall()

        print_basicSaleReport(results)
except Error as e:
    print('Something went wrong! ', e)
finally:
    cursor.execute('DROP VIEW IF EXISTS BasicSaleReport;')
    cursor.close()
    conn.close()
    print("\n\nClosing connections....")
    print("connection is close")
    print("Cursor is close")

Detected a new connection with ID 9
We get the following results...

Total Sale: 243.00

Average Sale: 48.60

Minimum bill paid: 37

Maximum bill paid: 86



Closing connections....
connection is close
Cursor is close

<h2>Task 5</h2>
<p>Little Lemon needs to display the next three upcoming <b>bookings</b> from the Bookings table on the kitchen screen to notify their chefs which orders are due next. To complete this task, carry out the following steps:</p>
    <ul>
        <li>Get a connection from the pool.</li>
        <li>Create a buffered cursor.</li>
        <li>Combine the data from the Bookings and the Employee tables. Sort the retrieved records in ascending order. Then display the information of the first three guests. </li>
        <li>Returned the connection back to the pool.</li>
    </ul>

<p>The output should be as follows:</p>

<p><b>[BookingSlot]</b></p>

<p><b>[Guest_name]

<p><b>[Assigned to: Employee Name [Employee Role]]</b></p>

In [77]:
create_nextBookings = """
CREATE VIEW nextBookings AS 
SELECT 
Bookings.BookingSlot, CONCAT(Bookings.GuestFirstName, ' ', Bookings.GuestLastName) AS 'Guest_Name', employees.Name, employees.Role
FROM
Bookings 
INNER JOIN
employees
WHERE Bookings.EmployeeID = employees.EmployeeID ORDER BY Bookings.BookingSlot ASC LIMIT 3
"""

In [78]:
def print_nextBookings(results):
    print("Here are the next 3 guest in queue...\n")
    
    for x in results:
        print("BookingSlot: {}".format(x[0]))
        print("Guest Name: {}".format(x[1]))
        print("Assigned to: {} {}\n".format(x[2], x[3]))

In [79]:
try:
    conn = connection_pool.get_connection()
    print("Detected a new connection with ID {}"
                 .format(conn.connection_id))
    if conn.is_connected:
        cursor = conn.cursor()
        cursor.execute('DROP VIEW IF EXISTS nextBookings;')
        cursor.execute(create_nextBookings)
        cursor.execute('SELECT * FROM nextBookings')
        results = cursor.fetchall()

        print_nextBookings(results)
except Error as e:
    print('Something went wrong! ', e)
finally:
    cursor.execute('DROP VIEW IF EXISTS nextBookings;')
    cursor.close()
    conn.close()
    print("\n\nClosing connections....")
    print("connection is close")
    print("Cursor is close")

Detected a new connection with ID 9
Here are the next 3 guest in queue...

BookingSlot: 15:00:00
Guest Name: Vanessa McCarthy
Assigned to: Giorgos Dioudis Head Chef

BookingSlot: 17:30:00
Guest Name: Marcos Romero
Assigned to: Fatma Kaya Assistant Chef

BookingSlot: 18:00:00
Guest Name: Anees Java
Assigned to: John Millar Receptionist



Closing connections....
connection is close
Cursor is close

<h2><center>Thanks to your for review my assigment, feel free to let me know what do you think about my work, and if you let me a feedback about how can i do better i really appreciate.... I hope you a increible end of year, and I wish you the best in your learning </center></h2>